<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header contact-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1><%= title 'Contact' %> Me</h1>
                        <hr class="small">
                        <span class="subheading">Have feedback or an article to contribute?</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>I'd be Happy to hear from you. Fill out the form below and I will try to get back to you within 24 hours.</p>
                <%= simple_form_for @contact, :html => {:class => '' } do |f| %>

                <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                        <%= f.input :name, placeholder: "Name*", :required => true, class: "form-control" %>
                        </div>
                    </div>

                <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                        <%= f.input :email, placeholder: "Email*",:required => true, class: "form-control" %>
                        </div>
                    </div>

                <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                        <%= f.input :message, placeholder: "Message*", :as => :text, rows: 5, :required => true, class: "form-control" %>
                        </div>
                    </div>
                    <br>

                <div class= "hidden">
                  <%= f.input :nickname, :hint => 'Leave this field blank!' %>
                </div>

                <div>
                  </br>

                  <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                        <%= f.button :submit, 'Send', :class=> "btn btn-default" %>
                        </div>
                    </div>
                  </div>
                </div>

                <% end %>



               
                    
                
            </div>
        </div>
    </div>

    <hr>